<app-menu></app-menu>
<div class="panier"><button>Panier * {{articles}}</button></div>
<div class="container">
    <div class="presentation">
        <img [src]="Restaurant.photo" alt="photo de presentation du restaurzant">
        <div class="details">
            <div class="nom">
                {{Restaurant.nom}}
            </div>
            <div class="distance">
                {{distance}}
            </div>
        </div>
    </div>
    <div class="livraison">
        <div class="item liv">Livraison</div>
        <div class="item">Sur place</div>
    </div>
    <label> La carte :</label> 
    <div class="menus">
        <div *ngFor="let item of items" class="menu-item">
            <div class="details">
                <h3>{{item.nom}}</h3>
                <p>{{item.prix}} fcfa</p>
                {{item.ingredients}}
            </div>
            <div class="photo">
                <img [src]="item.photo" alt="plat">
            </div>
            <mat-icon (click)="ajouter()">add_shopping_cart</mat-icon>
        </div>
    </div>
</div>