.panier{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    >button{
        border-radius: 15px;
        background-color: #000000;
        color: rgba($color: #ffffff, $alpha: 0.8);
        padding: 10px;
    }
}
img{
    object-fit: cover
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >.livraison{
        >#livraison{
            background-color: rgba($color: #000000, $alpha: 0.1);
            border-radius: 30px;
            padding: 10px;
            text-align: center;
            font-size: large;
            &:hover{
                background-color: rgba($color: #ffffff, $alpha: 0.3);
            }
        }
    }
    >label{
        font-size: 18px;
        color: rgb(4, 62, 100);
        margin: 40px;
        text-decoration:underline
    }
    >.menus{
        margin-top: 30px;
        color: rgb(4, 62, 100);
        >.menu-item{
              /* Ombre interne */
            margin: 15px;
            border-radius: 10px;
            color: rgba($color: #000000, $alpha: 0.9);
            display: flex;
            padding: 2px;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            >.details{
                font-size: 11px;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                align-items: center;
                >.infos{
                    display: flex;
                    margin: 5px;
                    justify-content: center;
                    flex-direction: column;
                    padding: 10px;
                    align-items: center;
                    >.nom{
                        margin: 4px;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
    
            }


        }
    }
    >.presentation{
        color: rgb(4, 62, 100);
        >img{
            box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 29px 0px;
            width: 70vw;
            height: 250px;
        }
        >.details{
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 10px;
            align-items: center;
            >.nom{
                margin: 4px;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}
.photo{
    display: flex;
    justify-content: center;
    >img{
        object-fit: cover;
        width: 120px;
        height: 120px;
        border-radius: 10px;
    }
}
.add{
    background-color: rgba(3, 31, 57, 0.1);
    width: 70vw;
    padding: 2px;
    text-align: center;
}
.recap{
    position: fixed;
    background-color: rgb(255, 172, 127);
    box-shadow: 2px 4px 12px rgba(0,0,0,.2);
    border-radius: 15px;
    padding: 10px;
    bottom:15px;
    right: 5px;
}
.pannier{
    
    display: flex;
    position: fixed;

    top: 15px;
    right: 15px;
    >app-commande{
        box-shadow: 2px 4px 12px rgba(0,0,0,.2);
        background-color: white;
        border-radius: 15px;
        max-height: 50vh ;
        overflow-y: auto;
        padding: 30px;
        border: 1px solid;
    }
    >mat-icon{
        font-size: 30px;
        font-weight: bold;
    }
    color: #000000;
}

@media (min-width: 450px){
    .presentation{
        >img{
            box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 29px 0px;
            width: 70vw!important;
            height: 300px !important;
            border-radius: 20px;
        }
    }
    .livraison{
        width: 90vw;
        float: right;
    }
    .menus{
        display: flex;
        justify-content: space-around;
        width: 90vw;
        flex-wrap: wrap;
    }
    .photo{
        >img{
            width: 80px;
            height: 90px;
            border-radius: 10px;
        }
    }
    .add{
        background-color: rgba(173, 115, 66, 0.5);
        padding: 2px;
        width: 100%;
        text-align: center;
    }
    .menu-item{
        border: rgba($color: #000000, $alpha: 0.1) 1px solid;
        width: 400px !important;
        margin: 20px;
        border-radius: 15px;
        >.details{
            font-size: 16px;
        }
        >.photo{
            >img{
                width: 200px !important;
            }
        }

    }
}