<app-menu></app-menu>
<div class="container">
    <div class="presentation">
        <img [src]="getRestaurantPhoto()" alt="photo de presentation du restaurzant">
        <div class="details">
            <div class="nom">
                {{getRestaurantName()}}
            </div>
        </div>
    </div>
    <div class="livraison">
        <div class="item liv">Livraison</div>
        <div class="item">Sur place</div>
    </div>
    <label> La carte :</label> 
    <div class="menus">
        <div *ngFor="let item of items" class="menu-item">
            <div class="details">
                <h3>{{item.nom}}</h3>
                <p>{{item.prix}} fcfa</p>
                {{item.ingredients}}
            </div>
            <div class="photo">
                <img [src]="item.photo" alt="plat">
            </div>
            <mat-icon (click)="ajouter(item.id)">add_shopping_cart</mat-icon>
        </div>
    </div>
    <div *ngIf="getArticles()>0" (click)="voirPannier()" class="recap">
        voir le pannier ({{getArticles()}} articles)
    </div>
</div>
<div *ngIf="voir" class="pannier">
    <mat-icon (click)="fermerPannier()">close</mat-icon>
    <app-commande [commande]="getCommande()"></app-commande>
</div>