.panier{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    >button{
        border-radius: 15px;
        background-color: #000000;
        color: rgba($color: #ffffff, $alpha: 0.8);
        padding: 10px;
    }
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    >.livraison{
        >#livraison{
            background-color: rgba($color: #000000, $alpha: 0.06);
            border-radius: 30px;
            padding: 10px;
            text-align: center;
            width: 200px;
            &:hover{
                background-color: rgba($color: #ffffff, $alpha: 0.3);
            }
        }
    }
    >label{
        font-size: 18px;
        color: rgb(4, 62, 100);
        margin: 40px;
        text-decoration:underline
    }
    >.menus{
        margin-top: 30px;
        color: rgb(4, 62, 100);
        >.menu-item{
            color: rgba($color: #000000, $alpha: 0.9);
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.7);
            display: flex;
            padding: 2px;
            width: 90vw;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            >.details{
                font-size: 11px;
            }
            >.photo{
                >img{
                    width: 80px;
                    height: 90px;
                    border-radius: 10px;
                }
            }
            >.add{
                background-color: rgba(43, 148, 71,0.5);
                padding: 2px;
                width: 100%;
                text-align: center;
            }

        }
    }
    >.presentation{
        color: rgb(4, 62, 100);
        >img{
            width: 70vw;
            height: 250px;
        }
        >.details{
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 10px;
            align-items: center;
            >.nom{
                margin: 4px;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}
.recap{
    position: fixed;
    background-color: rgb(255, 172, 127);
    box-shadow: 2px 4px 12px rgba(0,0,0,.2);
    border-radius: 15px;
    padding: 10px;
    bottom:15px;
    right: 5px;
}
.pannier{
    
    display: flex;
    position: fixed;

    top: 15px;
    right: 15px;
    >app-commande{
        box-shadow: 2px 4px 12px rgba(0,0,0,.2);
        background-color: white;
        border-radius: 15px;
        max-height: 80vh ;
        overflow-y: auto;
        padding: 30px;
        border: 1px solid;
    }
    >mat-icon{
        font-size: 30px;
        font-weight: bold;
    }
    color: #000000;
}
@media (min-width: 450px){
    .presentation{
        >img{
            width: 70vw!important;
            height: 300px !important;
            border-radius: 20px;
        }
    }
    .livraison{
        width: 90vw;
        float: right;
    }
    .menus{
        display: flex;
        justify-content: space-around;
        width: 90vw;
        flex-wrap: wrap;
    }
    .menu-item{
        box-shadow: inset 0 0 15px 2px rgba(0, 0, 0, 0.1);
        width: 400px !important;
        margin: 20px;
        border-radius: 15px;
        border: none!important;
        >.details{
            font-size: 16px;
        }
        >.photo{
            >img{
                width: 200px !important;
            }
        }

    }
}