<app-menu></app-menu>
<div class="container">
    <div class="presentation">
        <img src="../../assets/banniere.jpg" alt="photo de presentation du restaurzant">
        <div class="details">
            <div class="nom">
                {{nom}}
            </div>
            <div class="distance">
                {{distance}}
            </div>
        </div>
    </div>
    <div class="livraison">
        <div class="item">Livraison</div>
        <div class="item">Sur place</div>
    </div>
    <label> La carte :</label> 
    <div class="menus">
        
        <div class="menu-item">
            <div class="details">
                <h3>nom du plat</h3>
                <p>prix : ...fcfa</p>
                rectte ...
            </div>
            <div class="photo">
                <img src="../../assets/plat.jpg" alt="plat">
            </div>
            <mat-icon>add_shopping_cart</mat-icon>
        </div>
        <div class="menu-item">
            <div class="details">
                <h3>nom du plat</h3>
                <p>prix : ...fcfa</p>
                rectte ...
            </div>
            <div class="photo">
                <img src="../../assets/plat.jpg" alt="plat">
            </div>
            <mat-icon>add_shopping_cart</mat-icon>
        </div>
        <div class="menu-item">
            <div class="details">
                <h3>nom du plat</h3>
                <p>prix : ...fcfa</p>
                rectte ...
            </div>
            <div class="photo">
                <img src="../../assets/plat.jpg" alt="plat">
            </div>
            <mat-icon>add_shopping_cart</mat-icon>
        </div>
        <div class="menu-item">
            <div class="details">
                <h3>nom du plat</h3>
                <p>prix : ...fcfa</p>
                rectte ...
            </div>
            <div class="photo">
                <img src="../../assets/plat.jpg" alt="plat">
            </div>
            <mat-icon>add_shopping_cart</mat-icon>
        </div>
    </div>
</div>