
<div class="full">
    <div class="container">
        <div class="menu">
            <mat-icon *ngIf="!clicked" (click)="click_()">
                menu
            </mat-icon>
            <mat-icon *ngIf="clicked" (click)="click_()">
                close
            </mat-icon>
        </div> 
        <div class="logo" routerLink="">
            <img src="../../assets/colis.png" alt="logo">
        </div>
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
            <button class="login" (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">
              Se deconnecter
            </button>
          </ng-container>
      
          <ng-template #loggedOut>
            <button class="login"  (click)="auth.loginWithRedirect()">Se connecter</button>
          </ng-template>
    </div>
    <div class="slide" *ngIf="clicked">
        <div>
            Ajouter votre restaurant
        </div>
        <div>
            Devenir livreur
        </div>
    </div>
</div>
<div class="desktop">
        <div class="logo" routerLink="">
            <img src="../../assets/colis.png" alt="logo">
        </div>
        <div>
            Ajouter votre restaurant
        </div>
        <div>
            Devenir livreur
        </div>
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
            <button class="login deconnecter" (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">
              Se deconnecter
            </button>
          </ng-container>
      
          <ng-template #loggedOut>
            <button class="login"  (click)="auth.loginWithRedirect()">Se connecter</button>
          </ng-template>
</div>
