/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body{
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    background: rgba($color: #000000, $alpha: 0.02) 
}
body {
    overflow-x: hidden;
  }
  